# JWT Secret for authentication
# Generate a secure random string for production
JWT_SECRET=your-secret-key-here-change-in-production

# Database URL
DATABASE_URL="file:./dev.db"

MINIO_ENDPOINT="your.domain"
MINIO_PORT="port-number"
MINIO_USE_SSL="true/false"
MINIO_ACCESS_KEY="your-access-key"
MINIO_SECRET_KEY="your-secret-key"
MINIO_BUCKET_NAME="your-bucket-name"
